config NET_XETH
	tristate
	default n
	depends on ETHERNET && NET_SWITCHDEV && VLAN_8021Q
	---help---
	  This platform driver provides network device proxy of remote or
	  integrated ethernet switch ports and bridges.

	  This must be selected by a parent platform driver.
	  See drivers/platform/x86/platina-mk1
